@tailwind base;
@tailwind components;
@tailwind utilities;

/**
===================================
 NAVIGATION BAR
 Dear Boss,

 Merci beaucoup pour ton message.

 I really appreciate the letter but I have not received
 the flower yet. Perhaps, it's still in the delivering process?
 I'll talk soon.

 We love you, and we are very proud of your hardwork in tne last video.

 Bisous,

 Marko with a K
===================================
**/
@layer components {
    nav.header {
        @apply flex flex-row justify-between items-center p-5
    }

    nav.header .logo {
        width: 50px;
    }

    nav.header ul.main-list {
        @apply flex flex-row gap-x-5
    }

    nav.header ul.sublink-list {
        margin-left: 1rem;
    }

    nav.header li.main-list-item {
        font-size: 1rem;
    }

    nav.header li button.sublink {
        @apply flex flex-row gap-x-3 items-center
    }

    nav.header li.main-list-item li.grand-list-item {
        margin-left: 1rem;
    }

    nav .dropdown {
        padding: 1rem;
        border: solid 1px #000;

        position: absolute;
        margin-top: 1rem;
        z-index: 9999;
    }

    .dropdown:hover .dropdown_menu--animated {
        display: block;
    }
        

    .dropdown_menu--animated {
        display: none;
    }
        

    .dropdown_menu-6 {
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center;
    }

    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }
        80% {
            transform: scaleY(1.1)
        }
        100% {
            transform: scaleY(1)
        }
    }

}

/**
===================================
 FOOTER COMPONENT
===================================
**/
@layer components {
    .footer {
        width: 100%;
        background-color: #131118;
        color: white;

        padding: 2.5rem 1rem;
        position: absolute;
        bottom: 0;
    }

    .footer .logo {
        width: 50px;
    }

    .footer .navigation {
        @apply flex flex-row justify-around items-start gap-10
    }

    .footer .footer-placeholder-img {
        width: 100px;
        background-color: #fff;
    }
}

/**
===================================
 BUTTONS COMPONENT
===================================
**/
@layer components {
    .button {
        font-size: 1rem;
        font-weight: 500;
        height: fit-content;
        border-radius: 5px;
        padding: .5rem 1rem;
        
    }

    .button-primary {
        color: #fff;
        background-color: #000fff;
    }

    .button-primary:hover {
        background-color: #2c3afc;
    }

    .button-secondary {

    }

    .button-outline {

    }
}